input:focus,
select:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}
.full-width-button {
    width: 100%;
}

.control {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.control > .form-control:focus {
    border-color: #a0a0a0;
}
.page-content {
    display: table;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    right: 0;
    z-index: 1000000;
}

.content-center {
    display: block;
    margin-top: 64px;
}

.change-password-container {
    /* height: 610px; */
    width: fit-content;
    margin: auto;
    /* border-radius: 1px; */
}
/* Header */
.change-password-header {
    height: 140px;
    background: rgb(255, 255, 255);
}
.greeting-text {
    width: 360px;
    height: 40px;
    font-size: 28px;
    margin: 20px 0;
    text-align: center;
    /* text-transform: uppercase; */
}
.notification {
    width: 360px;
    height: 40px;
    text-align: center;
    color: #D33A11;
    font-style: italic;
    margin-bottom: 0;
}
.notification > p {
    margin-bottom: 0 !important;
}

/* Form */
.form-change-password {
    background-color: white;
    width: 304px;
    margin: auto;
}
/* Main method session */
.bec-form-control  {
}
/* Main method session */

/* Forgot password session */
.forgot-password-session {
    margin: 0px 0;
}
.forgot-password {
    width: 100%;
}
/* Form */

/* Button */
.change-password-button {
    width: 360px;
    height: 40px;
    margin: 0 20px;
}

.log-in-button {
    color: #fff;
    background-color: #8f497c;
}
/* Material style */
.log-in-button {
    height: inherit;
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 16px;
    background: #8f497c;
}

/* Ripple magic */
.log-in-button{
    position: relative;
    overflow: hidden;
}

.log-in-button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(40, 40);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(100, 100);
    }
}

.log-in-button:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}

/* Button */

.show-error > .mdl-textfield__error {
    visibility: visible;
}

.button-group {
    margin-top: 12px;
}



