.control {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
}
.control > .form-control:focus {
    border-color: #a0a0a0;
}
.page-content {
    display: table;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    right: 0;
    z-index: 1000000;
}

.content-center {
   /*  display: table-cell;
    vertical-align: middle; */
    display: block;
    margin-top: 64px;
}

.router-container {
    width: 320px;
    /* height: 610px; */
    margin: auto;
    /* border-radius: 1px; */
}

/* Header */
.greeting-text {
    margin: auto;
    height: 75px;
    text-transform: uppercase;
}

.sign-in-header {
    height: 60px;
    background: rgb(255, 255, 255);
}

.notification {
    height: 56px;
    margin-bottom: 5px;
    display: table-cell;
    vertical-align: bottom;
    
}
.notify-text {
    text-align: left;
}
.notification > .notify-text {
    padding: 0 8px;
}
/* Header */


/* Form */
    /* Main method session */
    .bec-form-control  {
        margin-left: 8px;
        margin-right: 8px;
    }
    /* Main method session */

    /* Forgot password session */
    .forgot-password-session {
        margin: 0px 0;
    }
    .forgot-password {
        width: 100%;
    }

/* Form */

/* Sign in button */
.sign-in-button {
    width: 320px;
    height: 40px;
    margin-bottom: 32px;
    margin-top: 12px;
}

/* Material style */
.log-in-button {
    height: inherit;
    width: 304px !important;
    margin: 0 8px !important;
}
  
/* Sign in button */

.show-error > .mdl-textfield__error {
    visibility: visible;
}

.visibility-overide {
    visibility: visible !important;
}

